In [1]:
import position_analysis as pa
import numpy as np
import pandas as pd

In [2]:
motifanalysis = pa.positionanalysis(oligomer_length=6)
#AAACTA added to fasta sequences at the front
motifanalysis.loadFasta('motif1.fasta')
motifanalysis.perform_analysis(discard_low_counts=False)

fasta load successful

100%|██████████| 20/20 [00:00<00:00, 19253.17it/s]

words identified

100%|██████████| 2021/2021 [00:02<00:00, 855.98it/s]

       motif          pval  counts
0     AAACTA  8.653165e-27      11
1     CACGTG  9.003651e-09       4
2     CAAACT  8.708558e-08       7
3     ATGCAT  3.034129e-06       6
4     AACTAT  4.956394e-04       4
...      ...           ...     ...
1529  AGAGGA  7.836913e-01       6
1530  TAACCC  7.836913e-01       6
1531  TTACAA  7.836913e-01       6
1532  AGTCAT  7.836913e-01       6
1533  CAACTG  8.385711e-01       7

[1534 rows x 3 columns]

In [2]:
for organism in ['chimp','human','monkey','mouse','rat']:
    motifanalysis = pa.positionanalysis(oligomer_length=6,window_size=10,bp_to_read=50)
    motifanalysis.loadFasta('data/fasta/{}_shortened.fasta'.format(organism))
    motifanalysis.perform_analysis(discard_low_counts=False).to_csv('data/fasta/{}_6nt_motif_db.csv'.format(organism),index=False)

fasta load successful

100%|██████████| 10/10 [00:00<00:00, 46.39it/s]

words identified

100%|██████████| 4098/4098 [10:47<00:00,  6.33it/s]

       motif          pval  counts
0     GCGGGG  4.177023e-12    5957
1     CCGCCC  6.881565e-08    7101
2     GGCGGG  1.945164e-07    6978
3     GTGACG  1.858328e-06     912
4     TGGCCA  8.884025e-06     896
...      ...           ...     ...
2077  CACGGC  9.985700e-01     810
2078  CGGGTT  9.989898e-01     607
2079  ACCAAA  9.993825e-01     607
2080  TTATCA  9.995840e-01     311
2081  CCCCAA  9.999830e-01    1154

[2082 rows x 3 columns]